---
 const personalImageAlt = "Julian Simon"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-blue-800 dark:[&>p>strong]:text-blue-500 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      My name is Julian Simon. 
      I started in software development when I was 10 years old.
      Currently, I am... <strong
        >focused on the product area, primarily as a QA Analyst</strong
      >.
      leveraging my technical knowledge
      to serve as an excellent bridge between the product and development teams, 
      optimizing processes and teamwork to achieve the highest possible 
      product development quality.
    </p>

    <p>
      Some of my achievements include <strong
        >collaborating on the development of multiple web projects,
         organizing quality assurance teams, and working alongside POs, PMs,
         and Scrum Masters to enhance product development and team communication, 
         especially when delivery timelines were tight.

         I also contributed to the development of a CRM alongside an ERP, 
         which was a highly challenging project where I gained valuable insights 
         into finance concepts related to the agricultural sector</strong
      >. I am currently seeking new challenges to continue growing 
         both personally and professionally.
    </p>

    <p>
      In my free time<strong
        > I enjoy playing video games,
          which led me to start streaming and creating varied content. 
          I am currently looking to begin producing educational content
          related to the IT field</strong
      >. My goal is to share my knowledge and experience,
         especially because I believe that teaching is also a great way to learn.
    </p>
  </div>

  <img width="200" height="200" src="/juliansimon-01.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-blue-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
